<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Product Pages</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
	</head>
	<body>	
		<header class="bg-info">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				

				<div class="collapse navbar-collapse" id="header_utama">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Beranda <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Katalog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Tentang</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Hi, Users
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#"><i class="fa fa-cogs"></i> Pengaturan Akun</a>
								<a class="dropdown-item" href="#"><i class="fa fa-exchange"></i>Transaksi</a>
								<a class="dropdown-item" href="#"><i class="fa fa-list"></i>Pembayaran</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="fa fa-power-off"></i>Logout</a>
							</div>
						</li>
					</ul>
				</div>
				<form class="form-inline my-2 my-lg-0">
					<div class="input-group navbar-search">
						<input type="text" class="form-control">
						<div class="input-group-prepend">
							<div class="input-group">
								<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Cari Tiket</button>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header_utama" aria-controls="header_utama" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
							</div>
						</div>
					</div>
				</form>
				</div>
			</nav>
		</header>
		<div class="container-fluid">
			<br/>
			<div class="card">
				<div class="card-header">
					Login
				</div>
				<form action="" method="POST">
					<div class="card-body">	
						<div class="form-group">
							<label for="username">Username:</label>
							<input type="text" name="username" class="form-control">
						</div>
						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" name="password" class="form-control">
						</div>
					</div>
					<div class="card-footer">
						<div class="row">
							<div class="col-6">
								<button type="submit" class="btn btn-primary btn-block">Login</button>
							</div>
							<div class="col-6">
								<button type="button" class="btn btn-warning btn-block">Lupa Password</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="assets/js/jquery-3.3.1.slim.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
	</body>
</html>