<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Product Pages</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
	</head>
	<body>	
		<header class="bg-info">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				

				<div class="collapse navbar-collapse" id="header_utama">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Beranda <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Katalog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Tentang</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Hi, Users
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#"><i class="fa fa-cogs"></i> Pengaturan Akun</a>
								<a class="dropdown-item" href="#"><i class="fa fa-exchange"></i>Transaksi</a>
								<a class="dropdown-item" href="#"><i class="fa fa-list"></i>Pembayaran</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="fa fa-power-off"></i>Logout</a>
							</div>
						</li>
					</ul>
				</div>
				<form class="form-inline my-2 my-lg-0">
					<div class="input-group navbar-search">
						<input type="text" class="form-control">
						<div class="input-group-prepend">
							<div class="input-group">
								<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Cari Tiket</button>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header_utama" aria-controls="header_utama" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
							</div>
						</div>
					</div>
				</form>
				</div>
			</nav>
		</header>
		<div class="row">
			<div class="col-6 p-0">
				<img class="d-block w-100" src="assets/img/IMG_1380_exposure.JPG" alt="Third slide">
			</div>
			<div class="col-6 p-0 bg-dark">
				<div class="p-4 text-white">
					<h3>Product Title</h3>
					<p><small>Product Category</small></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<form action="" method="POST">
						<div class="form-group">
							<label for="passanger">Price (IDR)</label>
							<input type="number" value="100000" class="form-control" readonly>
						</div>
						<div class="form-group">
							<label for="passanger">Passenger</label>
							<input type="number" value="0" class="form-control">
						</div>
						<div class="form-group">
							<label for="passanger">Date Of Booking</label>
							<input type="date" class="form-control">
						</div>
						<button type="submit" class="btn btn-info">Book Now</button>
						<button type="button" class="btn btn-warning">Add to favorite</button>
					</form>
				</div>
			</div>
		</div>
	</div>
		<div class="container-fluid">
			<section class="block-product">
				<div class="pages-subtitles">
					<p>Product <span>Detail</span></p>
				</div>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</section>
			<section class="block-product">
				<div class="pages-subtitles">
					<p>Product <span>Gallery</span></p>
				</div>
				<div class="row">
					<div class="col-md-2">
						<div class="card">
							<img class="card-img-top" src="assets/img/blank-cap.JPG" alt="Card image cap">
							<div class="card-body">
								<p class="card-text"><a href="produk.html">Packages Name</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<img class="card-img-top" src="assets/img/blank-cap.JPG" alt="Card image cap">
							<div class="card-body">
								<p class="card-text"><a href="produk.html">Packages Name</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<img class="card-img-top" src="assets/img/blank-cap.JPG" alt="Card image cap">
							<div class="card-body">
								<p class="card-text"><a href="produk.html">Packages Name</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<img class="card-img-top" src="assets/img/blank-cap.JPG" alt="Card image cap">
							<div class="card-body">
								<p class="card-text"><a href="produk.html">Packages Name</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<img class="card-img-top" src="assets/img/blank-cap.JPG" alt="Card image cap">
							<div class="card-body">
								<p class="card-text"><a href="produk.html">Packages Name</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="card">
							<img class="card-img-top" src="assets/img/blank-cap.JPG" alt="Card image cap">
							<div class="card-body">
								<p class="card-text"><a href="produk.html">Packages Name</a></p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="assets/js/jquery-3.3.1.slim.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
	</body>
</html>